 <footer>
        <footer class="JS-footerN" id="js-footer">

            <div class="util">
                <ul class="tablize">
                    <li class="left"><a href="https://paperwaffle.com/content/provision">이용약관</a></li>
                    <li class="left"><a href="https://paperwaffle.com/content/privacy"><b>개인정보처리방침</b></a></li>

                    <li class="right">

                        <div class="lang">
                            <ul class="tablize">
                                <li>
                                    <a href="/?lang=ko_KR&amp;url=%2F">
                                        <span><img
                                                src="https://paperwaffle.com/theme/Nariya-Basic/img/n/flag-kr.png"></span>
                                        <i>KOR</i>
                                    </a>
                                </li>
                                <li>
                                    <a href="/?lang=ja_JP&amp;url=%2F">
                                        <span><img
                                                src="https://paperwaffle.com/theme/Nariya-Basic/img/n/flag-jp.png"></span>
                                        <i>JPN</i>
                                    </a>
                                </li>
                                <li>
                                    <a href="/?lang=en_US&amp;url=%2F">
                                        <span><img
                                                src="https://paperwaffle.com/theme/Nariya-Basic/img/n/flag-en.png"></span>
                                        <i>ENG</i>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </li>
                    <li class="right"><a target="_blank"
                            href="https://apps.apple.com/kr/app/%EC%A2%85%EC%9D%B4%EC%99%80%ED%94%8C-%EC%95%84%EB%A7%88%EC%B6%94%EC%96%B4-%EC%9E%91%EA%B0%80-%EC%BB%A4%EB%AE%A4%EB%8B%88%ED%8B%B0-%ED%94%8C%EB%9E%AB%ED%8F%BC/id1553859374">Apple
                            store</a></li>
                    <li class="right"><a target="_blank"
                            href="https://play.google.com/store/apps/details?id=com.hustay.swing.d8dc1af4b75074ba1bca3febeb9423c79">Google
                            play</a></li>
                </ul>
            </div>


            <div class="in tablize">

                <div class="left">
                    <div class="company">

                        <h1><a href="/"><img src="https://paperwaffle.com/img/n/h1-2021-250px-white.png"
                                    alt="paperwaffle"></a></h1>

                        <ul class="tablize info">
                            <li><b>종이와플</b></li>
                            <li>대표자 : <b>설우영</b></li>
                            <li>사업자등록번호 : <b>340-43-00434</b></li>
                            <li>통신판매업신고번호 : <b>2021-부산부산진-1235호</b></li><br>
                            <li>주소 : <b>부산시 부산진구 거제대로37 205동 907호</b></li>
                            <li>전화번호 : <b>070-8098-8511</b></li><br>
                            <li>개인정보관리책임자 : <b>설우영(qpdlxm145@naver.com)</b></li>
                        </ul>

                        <div class="warn">
                            종이와플 내 불법 도용 및 무단 복제의 작품이 업로드 되는 경우, 모든 법적 책임은 업로드를 한 당사자에게 있으며, 종이와플은 이에 대한 책임을 지지 않습니다.
                        </div>

                        <div class="copyright">
                            Copyright © PaperWaffle All rights reserved.<br>
                        </div>


                        <div class="download">
                            <ul class="tablize">
                                <li class="right button apple">
                                    <a target="_blank"
                                        href="https://apps.apple.com/kr/app/%EC%A2%85%EC%9D%B4%EC%99%80%ED%94%8C-%EC%95%84%EB%A7%88%EC%B6%94%EC%96%B4-%EC%9E%91%EA%B0%80-%EC%BB%A4%EB%AE%A4%EB%8B%88%ED%8B%B0-%ED%94%8C%EB%9E%AB%ED%8F%BC/id1553859374">
                                        <span>Download on the</span> Apple store
                                    </a>
                                </li>
                                <li class="right button google">
                                    <a target="_blank"
                                        href="https://play.google.com/store/apps/details?id=com.hustay.swing.d8dc1af4b75074ba1bca3febeb9423c79">
                                        <span>Get it on</span> Google play
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>

                <div class="right">

                    <div class="sns">
                        <ul class="tablize">
                            <li class="f"><a href="https://www.facebook.com/paperwaffle" target="_blank"><i
                                        class="xi-facebook"></i></a></li>
                            <li class="t"><a href="https://twitter.com/paperwaffle0425" target="_blank"><i
                                        class="xi-twitter"></i></a></li>
                            <li class="i"><a href="https://www.instagram.com/paperwaffle0425/" target="_blank"><i
                                        class="xi-instagram"></i></a></li>
                        </ul>
                    </div>


                    <div class="manager hide">
                        <ul class="tablize">
                            <li>
                                <a href="/bbs/content.php?co_id=profile&amp;mb_id=admin">
                                    <div class="img"><img src="/img/n/temp-dog.png" alt=""></div>
                                    <p>운영·총괄하는 ㅇㅇ</p>
                                </a>
                            </li>
                            <li>
                                <a href="/bbs/content.php?co_id=profile&amp;mb_id=jinsuya44">
                                    <div class="img"><img src="/img/n/temp-dog.png" alt=""></div>
                                    <p>디자인·기획하는 ㅅㅅ</p>
                                </a>
                            </li>
                            <li>
                                <a>
                                    <div class="img"><img src="/img/n/temp-dog.png" alt=""></div>
                                    <p>개발하는 ##</p>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

        </footer>
    </footer>