
    <header class="JS JS-header">
        <div class="in tablize">
            <h1>
                <img id="logo_img" src="https://paperwaffle.com/theme/Nariya-Basic/img/n/h1-2022-50.png"
                    alt="paper waffle" title="">
            </h1>

            <div id="category">
                <nav class="in">
                    <ul class="gnb tablize">
                        <li class="d d1" js-alt="시리즈만화"><a href="/bbs/board.php?bo_table=series">시리즈만화</a></li>
                        <li class="d d1" js-alt="단편만화"><a href="/bbs/board.php?bo_table=short">단편만화</a></li>
                        <li class="d d1" js-alt="일러스트"><a href="/bbs/board.php?bo_table=illust">일러스트</a></li>
                        <li class="d d1" js-alt="움직이는 일러스트"><a href="/bbs/board.php?bo_table=illust_move">움직이는 일러스트</a>
                        </li>
                        <li class="d d1" js-alt="작가별"><a href="/bbs/content.php?co_id=list_5">작가별</a></li>

                        <!--알림,로그인,삼선-->
                        <li class="d d1 right none-underline ico menu"><a><i class="xi-bars"></i></a></li>
                        <li class="d d1 right none-underline ico log depth">
                            <a><i class="xi-user-o"></i></a>
                            <div class="depth02Area depthArea">
                                <ul class="depth02">
                                    <li><a href="https://paperwaffle.com/bbs/login.php?url=%2F">로그인</a></li>
                                    <li><a href="https://paperwaffle.com/bbs/register.php">회원가입</a></li>
                                    <li><a href="https://paperwaffle.com/bbs/password_lost.php"
                                            class="win_password_lost">정보찾기</a></li>
                                    <li><a href="https://paperwaffle.com/bbs/faq.php">FAQ</a></li>
                                    <li><a href="https://paperwaffle.com/bbs/qalist.php">1:1문의</a></li>
                                    <li><a href="https://paperwaffle.com/bbs/shingo.php">신고</a></li>
                                    <li><a href="https://paperwaffle.com/bbs/board.php?bo_table=notice">공지</a></li>
                                </ul>
                            </div>
                        </li>

                        <li class="d d1 right none-underline ico search"><a href="/bbs/search.php"><i
                                    class="xi-search"></i></a></li>

                        <li class="d d1 right none-underline ico hide">
                            <div class="lang">
                                <ul class="tablize">
                                    <li>
                                        <a href="/?lang=ko_KR&amp;url=%2Fbbs%2Flogin.php%3Furl%3D%252F">
                                            <span><img
                                                    src="https://paperwaffle.com/theme/Nariya-Basic/img/n/flag-kr.png"></span>
                                            <i>KOR</i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="/?lang=ja_JP&amp;url=%2Fbbs%2Flogin.php%3Furl%3D%252F">
                                            <span><img
                                                    src="https://paperwaffle.com/theme/Nariya-Basic/img/n/flag-jp.png"></span>
                                            <i>JPN</i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="/?lang=en_US&amp;url=%2Fbbs%2Flogin.php%3Furl%3D%252F">
                                            <span><img
                                                    src="https://paperwaffle.com/theme/Nariya-Basic/img/n/flag-en.png"></span>
                                            <i>ENG</i>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </li>
                        <li class="d d1 right none-underline upload"><a href="/bbs/write.php?bo_table=series">작품투고</a>
                        </li>



                    </ul>
                </nav><!-- position -->
            </div><!-- #category -->

            <!-- 국가별 -->
            <div class="lang top-lang">
                <ul class="tablize">
                    <li>
                        <a href="/?lang=ko_KR&amp;url=%2Fbbs%2Flogin.php%3Furl%3D%252F">
                            <span><img src="https://paperwaffle.com/theme/Nariya-Basic/img/n/flag-kr.png"
                                    title=""></span>
                            <i>KOR</i>
                        </a>
                    </li>
                    <li>
                        <a href="/?lang=ja_JP&amp;url=%2Fbbs%2Flogin.php%3Furl%3D%252F">
                            <span><img src="https://paperwaffle.com/theme/Nariya-Basic/img/n/flag-jp.png"></span>
                            <i>JPN</i>
                        </a>
                    </li>
                    <li>
                        <a href="/?lang=en_US&amp;url=%2Fbbs%2Flogin.php%3Furl%3D%252F">
                            <span><img src="https://paperwaffle.com/theme/Nariya-Basic/img/n/flag-en.png"></span>
                            <i>ENG</i>
                        </a>
                    </li>
                </ul>
            </div>
    </header>
