<!DOCTYPE html>
<html xmlns="http://www.thymeleaf.org">
	<head>
		<meta charset="UTF-8">
		<title>Insert title here</title>
	</head>
	<body>
		<h3>스프링부트 데이터베이트 실습</h3>
		
		<h4>JPA 실습</h4>
		<a th:href="@{/user1/list}">user1 list</a>	
		<a th:href="@{/user2/list}">user2 list</a>	
		<a th:href="@{/user3/list}">user3 list</a>	
		<a th:href="@{/user4/list}">user4 list</a>	
		<a th:href="@{/user5/list}">user5 list</a>	
		<a th:href="@{/user6/list}">user6 list</a>			
		
		<h4>JPA 쿼리메서드 실습</h4>	
		<a th:href="@{/query1}">조건 1</a>
		<a th:href="@{/query2}">조건 2</a>
		<a th:href="@{/query3}">조건 3</a>
		<a th:href="@{/query4}">조건 4</a>
		<a th:href="@{/query5}">조건 5</a>
		<a th:href="@{/query6}">조건 6</a>
		<a th:href="@{/query7}">조건 7</a>
		<a th:href="@{/query8}">조건 8</a>
		<a th:href="@{/query9}">조건 9</a>
		<a th:href="@{/query10}">조건 10</a>
		<a th:href="@{/query11}">조건 11</a>
		<a th:href="@{/query12}">조건 12</a>
		<a th:href="@{/query13}">조건 13</a>
		<a th:href="@{/query14}">조건 14</a>
		<a th:href="@{/query15}">조건 15</a>
		<a th:href="@{/query16}">조건 16</a>
		<a th:href="@{/query17}">조건 17</a>
		<a th:href="@{/query18}">조건 18</a>
		<a th:href="@{/query19}">조건 19</a>
		<a th:href="@{/query20}">조건 20</a>

	
	</body>
</html>