<th:block th:include="@{_header.html}"/>
<th:block th:include="@{board/__${group}__.html}"/>
<main id="board" class="list">
  <table border="0">
    <caption>글목록</caption>
    <tr>
      <th>번호</th>
      <th>제목</th>
      <th>글쓴이</th>
      <th>날짜</th>
      <th>조회</th>
    </tr>

    <th:block th:if="${#lists.size(boards)}">
        <tr th:each="board,i:${boards}">
            <td>[[${pageStartNum - i.index}]]</td>
            <td><a th:href="@{/view(no=${board.no})}">[[${board.title}]] &#91;[[${board.comment}]]&#93;</a></td>
            <td>[[${board.nick}]]</td>
            <td>[[${board.rdate}]]</td>
            <td>[[${board.hit}]]</td>
        </tr>
    </th:block>
      <th:block th:unless="${#lists.size(boards)}">
        <tr>
            <td colspan="5">작성된 게시글이 없습니다.</td>
        </tr>
      </th:block>

  </table>

  <div class="page">

    <th:block th:if="${groups[0]>1}">
        <a th:href="@{/list(pg=${groups[0]-1})}" class="prev">이전</a>
    </th:block>
    <th:block th:each="num:${#numbers.sequence(groups[0],groups[1])}">
        <a th:href="@{/list(pg=${num})}"
           th:class="${num==currentPage?'num current':'num'}">[[${num}]]</a>
    </th:block>
    <th:block th:if="${groups[1]<lastPageNum}">
        <a th:href="@{/list(pg=${groups[1]+1})}" class="next">다음</a>
    </th:block>

  </div>

  <a th:href="@{/board/write(group=${group},cate=${cate})}" class="btnWrite">글쓰기</a>

</main>
<!-- 내용 끝 -->

</article>
</section>
</div>
<th:block th:include="@{_footer.html}"/>