<!DOCTYPE html>
<html xmlns="http://www.thymeleaf.org">
	<head>
		<meta charset="UTF-8">
		<title>Insert title here</title>
	</head>
	<body>
		<h3>book 수정</h3>
		<a href="/Ch07/">Ch07 메인</a><br>
		<a href="/Ch07/user2/list">user 2 목록</a><br>

		<form action="/Ch07/user2/register" method="post">
			<table>
				<tr>
					<td>아이디</td>
					<td><input type="text" name ="uid"></td>
				</tr>
				<tr>
					<td>이름</td>
					<td><input type="text" name ="name"></td>
				</tr>
				<tr>
					<td>휴대폰</td>
					<td><input type="text" name ="hp"></td>
				</tr>
				<tr>
					<td>나이</td>
					<td><input type="text" name ="age"></td>
				</tr>
				<tr>
					<td colspan="2" align="right"><input type="submit" value="등록"></td>
				</tr>				
				
			</table>
		
		</form>
	</body>
</html>